@using System.Reflection.Metadata
@typeparam TModel

    <EditForm Model="@ActionModel" OnValidSubmit="OnSubmit" class="text-center bg-light border rounded border-light shadow-lg" style="background-color: #cbe2f2; margin: 30px;">
        <DataAnnotationsValidator />

        @TitleTemplate(Title)
        @ChildContent

        <div class="row">
            <div class="col text-center">
                <div role="group" class="btn-group btn-group-sm" style="margin: 10px;">
                    <button class="btn btn-success" type="submit" style="width: 70px;">OK</button>
                    <button class="btn btn-danger" type="button" style="width: 70px;" @onclick="OnCancel">Annuler</button>
                </div>
            </div>
        </div>
    </EditForm>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment<string> TitleTemplate { get; set; } = value =>@<h3>@value</h3>;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public TModel ActionModel { get; set; }

    [Parameter]
    public EventCallback<EditContext> OnSubmit { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancel { get; set; }
}
