@using WalletMate.Domain.Common
@namespace WalletMate.BlazorApp.Components

<div class="dropdown">

    <button class="btn btn-secondary" data-toggle="dropdown" @onclick="OnClick" type="button"><i class="@Icon"></i></button>
    <div role="menu" class="dropdown-menu @Show">
        @ChildContent
    </div>
</div>

@code {

    private string Show { get; set; }

    private void OnClick()
    {
        Show = Show.IsEmpty() ? "show" : string.Empty;
    }

    [Parameter]
    public string Icon { get; set; } = "fa fa-bars";

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
