<div class="card" @onclick="Clicked">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10 offset-md-0" style="padding-top: 5;">
                <h5 class="text-left mb-0" style="margin: 0;margin-top: 0;">@PeriodName</h5>
            </div>
            <div class="col text-right"><i class="@Icon"></i></div>
        </div>
    </div>
    @if (Expanded)
    {
        <div class="card-body">
            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
        </div>
    }
</div>

@code {

    [Parameter]
    public string PeriodName { get; set; }

    [Parameter]
    public EventCallback Clicked { get; set; }

    [Parameter]
    public bool Expanded { get; set; }

    string Icon => Expanded ? "fa fa-chevron-down" : "fa fa-chevron-right";
}
