@using BlazorState
@using WalletMate.BlazorApp.Store.Spreadsheet
@inherits BlazorState.BlazorStateComponent

    <div class="container">

        @foreach (var periodId in State.Periods.Keys) {
            <PeriodPanel 
                PeriodName="@periodId.ToPeriodName().ToString()" 
                Clicked="@( () => OnClicked(periodId) )" 
                Expanded="@State.Periods[periodId].Expand" 
                Operations="@State.Periods[periodId].Operations" />
        }
    </div>

@code {

    private void OnClicked(PeriodId periodId)
    {
        Mediator.Send(new SpreadsheetState.ToggleExpand(periodId));
    }

    SpreadsheetState State => GetState<SpreadsheetState>();

}
