@page "/test"

<h3>Test</h3>

<Navbar />

<Menu @onclick="MenuClicked" Show="Show">
    <MenuItem Label="Premier" @onclick="@(() => Clicked("Premier"))"/>
    <MenuItem Label="Deuxieme" @onclick="@(() => Clicked("Second"))"/>
</Menu>

@code {

    public void Clicked(string item)
    {
        Console.WriteLine(item);
    }

    private bool Show { get; set; }

    public void MenuClicked()
    {
        Show = !Show;
    }
}
